@media (orientation: landscape) {
    .container {
        width: 70vw;
        height: 71vh;
        flex-flow: row nowrap;
      }
    .side-tab {
        width: 8.4%;
        height: 71vh;
        flex-direction: column;
    }
    .canvas {
        width: 80%;
        /* height: 100%; */
        height: 71vh;
    }
    /* end general css */
    
    /*side tab css*/  
    .tabText {
        writing-mode: vertical-rl;
        text-orientation: sideways;
        font-size: 3.5vw;
        direction: rtl;
      }
    /*end side tab css*/
    
    /* begin landing css */
    .landingTextDiv {
        height: 17%;
        width: 90%;
        margin: 10% auto 0 auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
      }
      .landingTextDiv2 {
        height: 17%;
        width: 90%;
        margin: 5% auto 0 auto;
        flex-flow: row nowrap;
      }
      .landingText {
        font-size: 4vw;
      }
      .landingDateDiv {
        height: 17%;
        width: 90%;
        margin: 5% auto 0 auto;
        flex-flow: row nowrap;
      }
      .landingText2 {
        font-size: 5vw;
      }
      /* end landing css */

      /*start of invite css*/

    .largeTextDiv {
      flex-direction: column;
    }

    .inviteTextDiv {
      width: 44vw;
      height: 23vh;
      padding-top: 5%;
      padding-left: 5%;
    }
    .largeTextDiv {
      width: 90%;
      height: 7vh; 
    }
    .smallTextDiv {
      width: 90%;
      height: 5vh; 
      padding-top: 5%;
      padding-bottom: 3%;
    }
    .text1 {
      font-size: 2.8vw;
    }
    .text2 {
      font-size: 2.4vw;
    }
    .eventDiv {
      width: 75%;
      height: 45vh;
      margin: 2% auto 0 auto;
    }
    .image {
      
    }
    .imageDiv {
      width: 95%;
      height: 33vh;
      margin: auto;
    }
    .imageText {
      font-size: 2.4vw;
    }

    /*end invite css */

      /* form style */
    .formStyle {
      width: 80%;
      margin: 5% auto 5% auto;
      
    }
    .labelStyle {
      font-size: 1.75vw;
    }
    .h3Style {
      padding-bottom: 5%;
    }

    /*end form style */

    /* rsvp style */

    .labelStyle {
      font-size: 1.75vw;
      
    }
    .guestsStyle {
     
    }
    /* end rsvp style */

}